.park-list-header {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.NavBar{
  display: inline-block;
  text-align:center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.park-list-card img {
  padding-top: 0.5em;
  width: auto;
  height: 10em;
  border-radius: 1%;
}

.park-list-card {
  margin-left: 0.2em;
  margin-right: 0.2em;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

.park-card-button {
  margin-bottom: 0.2em;
}