/* Entire App */
body #login-page {
  background-image: url(../public/background.png);
  background-size: 100% 100%;
}

body #user-profile {
  background-color: #ac5169;
  margin: 5em 5em 5em 2em;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5% 5% 5% 5%;
  width: 50%;
}

body #user-profile h1 {
  font-family: 'Courier New', Courier, monospace;
  margin-left: 1em;
}

body #user-information {
  background-color: #fe9ea2;
  width: 60%;
  border-radius: 5% 5% 5% 5%;
  margin-left: 1em;
}

body .update-profile{
  font-family: 'Courier New', Courier, monospace;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.update-profile button {
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 1em;
}

.update-profile input {
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 1em;
}

#submit-profile-changes {
  margin-left: 1em;
}

.update-profile label {
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 1em;
  padding-right: 1em;
  padding-left: 1em;
}

/* Login Page */
#login-page {
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4em;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 4em;
  background-color:#feb5ba;
  border-radius: 3% 3% 3% 3%;
  width: 75%;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  flex-direction:row;
}

#login-page button {
  font-family: 'Courier New', Courier, monospace;
  margin-top: 1em;
  margin-left: 1em;
  background-color: #42234e;
  color: white;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

#login-page input {
  margin-bottom: 1em;
  /* padding-left: 1em; */
  font-family: Courier;
}

#login-page label {
  margin-bottom: 1em;
  padding-right: 1em;
}

.login-footer {
  /* text-align: right; */
  display: flex;
  justify-content:center;
  font-family: 'Courier New', Courier, monospace;
}

/* Navigation Bar - Entire App Once Logged In*/
#navigation {
  background-color: #301e4b;
  color: white;
}

#nav-links {
  color: white;
  display: flex;
  align-items: center;
  justify-items: end;
}

#nav-title{
  margin-left: 0.5em;
  font-family: 'Courier New', Courier, monospace;
}

#nav-link-1 {
  font-family: 'Courier New', Courier, monospace;
}
#nav-link-2 {
  font-family: 'Courier New', Courier, monospace;
}

#nav-link-3 {
  font-family: 'Courier New', Courier, monospace;
}

#nav-link-4 {
  font-family: 'Courier New', Courier, monospace;
}

.parks-list {
  font-family: 'Courier New', Courier, monospace;
}


.park-list-controls {
  margin-top: 5em;
  font-family: 'Courier New', Courier, monospace;
  /* width: 50%; */
  text-align: center;
  margin-bottom: 2.5em;
  /* margin-left: 1em; */
  margin-right: 1em;
  height: 4em;
}

.park-list-controls button {
  font-family: 'Courier New', Courier, monospace;
  padding: 1em;
  margin-right: 1em;
  margin-left: 1em;
  height: 4em;
}

#activity-select-label {
  font-family: 'Courier New', Courier, monospace;
}

#activity-item {
  font-family: 'Courier New', Courier, monospace;
}

#activity-select {
  font-family: 'Courier New', Courier, monospace;}

#passport-container {
  font-family: 'Courier New', Courier, monospace;
}

#park-text-title {
  font-family: 'Courier New', Courier, monospace;
}

#park-text-location {
  font-family: 'Courier New', Courier, monospace;
}

#park-text-designation {
  font-family: 'Courier New', Courier, monospace;
}

#park-list-activity {
  font-family: 'Courier New', Courier, monospace;
}

#park-list-activity-button {
  font-family: 'Courier New', Courier, monospace;
}

#park-list-in-bucket-button{
  font-family: 'Courier New', Courier, monospace;
}

#park-list-add-bucket-button {
  font-family: 'Courier New', Courier, monospace;
}

#park-list-in-passport-button {
  font-family: 'Courier New', Courier, monospace;
}

#park-list-add-passport-button {
  font-family: 'Courier New', Courier, monospace;
}

#stamp-title {
  font-family: 'Courier New', Courier, monospace;
}

.stamp-button{
  font-family: 'Courier New', Courier, monospace;
  margin-left: 0.3em;
  margin-right: 0.3em;
}

#toggle-list-view {
  font-family: 'Courier New', Courier, monospace;
  padding: 1em;
  margin-bottom: 1em;
}

#map-header {
  font-family: 'Courier New', Courier, monospace;
}

.review-text {
  font-family: 'Courier New', Courier, monospace;
}

#review-button {
  font-family: 'Courier New', Courier, monospace;
  padding: 0.4em 0.4em 0.4em 0.4em;
}

.edit-review {
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 1em;
  padding: 0.4em 0.4em 0.4em 0.4em;
  margin-right: 0.5em;
}