body {
  font-family: 'Montserrat', sans-serif;
}

.input-text-field {
  color:#42234e;
  border: none;
  border: solid 1px #ccc;
  border-radius: 10px;
}

body #user-profile {
  background-color: #ac5169;
  margin-top: 6em;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5% 5% 5% 5%;
  width: 40%;
  
}

body #user-profile h1 {
  font-family: 'Montserrat', sans-serif;
  margin-left: 1em;
  padding-top: 0.5em;
}

body #user-information {
  background-color: #fe9ea2;
  border-radius: 5% 5% 5% 5%;
  padding: 1em 1em 1em 1em;
  margin: 1em 1em 1em 1em;
}

#login-page-header{
  font-family: 'Montserrat', sans-serif;
}

#sign-in-header{
  font-family: 'Montserrat', sans-serif;
}

#sign-up-header {
  font-family: 'Montserrat', sans-serif;
}

#user-avatar {
  margin-top: 1em;
  width: 250px;
}

body .update-profile {
  font-family: 'Montserrat', sans-serif;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}

.update-profile button {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1em;
  height: 3em;
}

.update-profile input {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1em;
  height: 3em;
}

#submit-profile-changes {
  margin-left: 1em;
}

.update-profile label {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1em;
  padding-right: 1em;
  padding-left: 1em;
}

/* Login Page */
#login-page {
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 4em;
  padding-left: 4em;
  padding-right: 4em;
  padding-bottom: 4em;
  background-color: #feb5ba;
  border-radius: 3% 3% 3% 3%;
  width: 75%;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  flex-direction: row;
}

#login-page button {
  font-family: 'Montserrat', sans-serif;
  margin-top: 1em;
  margin-left: 1em;
  background-color: #42234e;
  color: white;
  padding: 0.5em 0.5em 0.5em 0.5em;
}

#login-page input {
  margin-bottom: 1em;
  font-family: 'Montserrat', sans-serif;
}

#login-page label {
  margin-bottom: 1em;
  padding-right: 1em;
}

.login-footer {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

#login-form input {
  height: 2em;
}

#signup-form input {
  height: 2em;
}

/* Navigation Bar - Entire App Once Logged In*/
#navigation {
  background-color: #301e4b;
  color: white;
}

#nav-links {
  color: white;
  display: flex;
  /* align-items: center;
  justify-items: end; */
}

#nav-title {
  margin-left: 0.5em;
  font-family: 'Montserrat', sans-serif;
  flex-grow: 1;
  color: white;
}

#nav-link-1 {
  font-family: 'Montserrat', sans-serif;
}

#nav-link-2 {
  font-family: 'Montserrat', sans-serif;
}

#nav-link-3 {
  font-family: 'Montserrat', sans-serif;
}

#nav-link-4 {
  font-family: 'Montserrat', sans-serif;
}

#parks-list-heading {
  padding: 1em 1em 1em 1em;
}

.parks-list {
  font-family: 'Montserrat', sans-serif;
  margin-top: 4em;
}

#park-browser-card {
  width: 21%;
  margin: 0.5em 0.5em 0.5em 0.5em;
}

#park-list-header {
  font-family: 'Montserrat', sans-serif; 
}

#park-list-controls-button {
  font-family: 'Montserrat', sans-serif;
  padding: 1em;
  margin-right: 1em;
  margin-left: 1em;
  height: 4em;
}

.park-list-togglers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-parks-header{
  padding-left: 1em;
}

.search-bar input {
  font-family: 'Montserrat', sans-serif;
  height: 50px;
}

#activity-select-label {
  font-family: 'Montserrat', sans-serif;
}

#activity-item {
  font-family: 'Montserrat', sans-serif;
}

#activity-select {
  font-family: 'Montserrat', sans-serif;
}

#passport-container {
  font-family: 'Montserrat', sans-serif;
}

#park-text-title {
  font-family: 'Montserrat', sans-serif;
}

#park-text-location {
  font-family: 'Montserrat', sans-serif;
}

#park-text-designation {
  font-family: 'Montserrat', sans-serif;
}

#park-list-activity {
  font-family: 'Montserrat', sans-serif;
}

#park-list-activity-button {
  font-family: 'Montserrat', sans-serif;
  height: 3em;
}

#park-list-in-bucket-button {
  font-family: 'Montserrat', sans-serif;
  height: 3em;
}

#park-list-add-bucket-button {
  font-family: 'Montserrat', sans-serif;
  height: 3em;
}

#park-list-in-passport-button {
  font-family: 'Montserrat', sans-serif;
  height: 3em;
}

#park-list-add-passport-button {
  font-family: 'Montserrat', sans-serif;
  height: 3em;
}

#park-card-toggles {
  justify-content: center;
}

#stamp-card-toggles {
  justify-content: center;
}

#stamp-title {
  font-family: 'Montserrat', sans-serif;
}

.stamp-button {
  font-family: 'Montserrat', sans-serif;
  margin-left: 0.3em;
  margin-right: 0.3em;
  height: 3em;
}

#toggle-list-view {
  font-family: 'Montserrat', sans-serif;
  padding: 1em;
  margin-bottom: 1em;
}

#map-header {
  font-family: 'Montserrat', sans-serif;
}

.review-text {
  font-family: 'Montserrat', sans-serif;
}

#review-button {
  font-family: 'Montserrat', sans-serif;
  padding: 0.4em 0.4em 0.4em 0.4em;
}

.edit-review {
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1em;
  padding: 0.4em 0.4em 0.4em 0.4em;
  margin-right: 0.5em;
}

#park-stamp-parent {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5em;
  padding-left: 2rem;
}

#park-stamp-child-1 {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: top;
  width: 50%;
  font-family: 'Montserrat', sans-serif;
}

#park-stamp-child-2 {
  display: inline-block;
  padding: 1rem 1rem;
  vertical-align: top;
  width: 45%;
  font-family: 'Montserrat', sans-serif;
}

#review-text-area {
  width: 100%;
  columns: 50;
  font-family: 'Montserrat', sans-serif;
}

#edit-review-text-area {
  width: 100%;
  columns: 50;
    font-family: 'Montserrat', sans-serif;
}

#search-bar {
  margin-left: 1em;
  width: 25em;
  height: 4em;
}

.app-instructions-header {
  background-color: #feb5ba;
  padding: 0.3em 0.3em 0.3em 0.3em;
  border-radius: 2% 2% 2% 2%;
  margin-right: 1em;
}

#footer-title{
  font-family: 'Montserrat', sans-serif;
}

#footer-text{
  font-family: 'Montserrat', sans-serif;
}

.park-list-photo-header{
  background-size: 100% 300%;
  background-image: url("http://store-images.s-microsoft.com/image/apps.38512.14373984023076920.5e9b70d5-179d-4c4c-a317-96cfb25d8abe.c2d31c92-31cd-4a98-bb67-73bd4130b7b6")
}

.toolbar {
  display: flex;
  min-height: 56px;
  align-items: center;
  padding: 0px 10px;
}